<li class="list-group-item d-flex">
  <div class="my-auto"><%= render 'notifications/action_icon', action: notification.action %></div> <!-- 通知アイコン -->
  <p><%= notification_message(notification) %></p>
</li>