<% if room.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% room.errors.full_messages.each do |message| %>
        <li class="alert alert-danger error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
