@import "bootstrap";

$main-color: rgba(139,3, 4, 1);
$second-color: #e3a44e;

/* universal */
body {
  background-color: $second-color;
  min-height: 100vh;
}

p,
a {
  font-weight: bold;
}

/* shared
-------------------------------------------------*/
.wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  place-items: center;
}

.bg-main {
  background-color: $main-color;
}

.text-main {
  color: $main-color;
}

.text-bright {
  color: $second-color;
}

.btn-outline-warning {
  color: $main-color;
  border-color: $main-color;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: $main-color;
}

.flex-direction-column {
  flex-direction: column;
}

.flash {
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.form {
  width: 60%;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* _room */
.rooms {
  width: 90%;
  margin: 100px auto;
}

.room {
  background-color: #fff8cf;
  height: 360px;
}

.room-header {
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px;
}

.room-header .profile-image {
  float: left;
}

.room-explanation {
  padding: 0 20px;
  .card-text {
    text-align: left;
  }
}

.shop-name {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.room-links {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

/* footer */
footer.footer {
  width: 100%;
  background-color: $main-color;
  .container {
    width: 80%;
    margin-top: 30px;
  }
  .list-inline {
    margin-top: 50px;
  }
  .social-link {
    background-color: #fff !important;
  }
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* home/index
-------------------------------------------------*/
header.masthead {
  background-image: url("izakaya.png");
}

.header-buttons {
  width: 500px;
}

.top-page-rooms {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-color;
}

.top-page-rooms h1 {
  margin-top: 60px;
}

/* users/index
-------------------------------------------------*/
.users-wrapper {
  margin-top: 50px;
}

/* users/show
-------------------------------------------------*/
.card {
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #fff
}

.profile-edit-link {
  margin-top: 10px;
}

.user-info-box {
  margin-left: 30px;
}

.articles {
  font-size: 10px;
  color: #a1aab9
}

.number1 {
  font-weight: 500
}

.followers {
  font-size: 10px;
  color: #a1aab9
}

.number2 {
  font-weight: 500
}

.rating {
  font-size: 10px;
  color: #a1aab9
}

.number3 {
  font-weight: 500
}

.rooms-wrapper {
  margin-top: 100px;
  h2 {
    margin-bottom: -60px;
  }
}

/* users/registrations/new
-------------------------------------------------*/
.profile-image-input {
  display: none;
}

.filename {
  margin-left: 10px;
}

/* rooms/index
-------------------------------------------------*/
.paginate-wrapper nav {
  display: flex;
  justify-content: center;
}

.paginate-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
}