@import "bootstrap";

$main-color: #ff9933;
$second-color: #fff8cf;

/* universal */
body {
  min-height: 100vh;
  background-color: $second-color;
}

p,
a {
  font-weight: bold;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* shared
-------------------------------------------------*/
.wrapper {
  padding-top: 90px;
  padding-bottom: 90px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  place-items: center;
}

.bg-main {
  background-color: $main-color;
}

.bg-second {
  background-color: $second-color;
}

.text-main {
  color: $main-color;
}

.text-second {
  color: $second-color;
}

.btn-outline-warning {
  color: $main-color;
  border-color: $main-color;
}

.btn-outline-warning:hover {
  color: #fff;
  background-color: $main-color;
}

.flex-direction-column {
  flex-direction: column;
}

.flash {
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.form {
  width: 60%;
}

.form-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* _user */
.user-box {
  border: 1px solid $main-color !important;
}
.following:hover {
  background-color: #fff;
  color: $main-color !important;
  border-color: $main-color;
}

.profile-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}


/* _room */
.rooms {
  width: 90%;
  margin: 100px auto;
}

.room {
  background-color: #fff8cf;
  height: 210px;
  border: 1px solid $main-color !important;
}

.room-header {
  align-items: center;
  padding: 0 15px;
  .profile-image {
    float: left;
  }
}

.room-content {
  padding-top: 10px;
}

.room-links {
  width: 100%;
  justify-content: space-between;
  padding-top: 25px;
}

.room-link-left {
  padding-left: 15px;
}

.room-link-right {
  padding-right: 15px;
}

.member-count {
  float: left;
  margin-right: 30px;
}

/* navbar */
.navbar {
  width: 100%;
  height: 90px;
  padding-left: 60px;
  padding-right: 60px;
  position: fixed;
  top: 0;
  z-index: 5;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .1);
  .navbar-brand {
    font-size: 2.5rem;
  }
  .navbar-nav {
    width: 100%;
    justify-content: flex-end;
  }
  a {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .dropdown-item a {
    color: #000 !important;
  }
}

.header-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-icon {
  width: 40px;
  height: 40px;
}

.notification-icon {
  position: relative;
}

.badge {
  font-size: 14px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 18px;
}

/* footer */
footer.footer {
  width: 100%;
  background-color: $main-color;
  .container {
    width: 80%;
    margin-top: 30px;
  }
  .list-inline {
    margin-top: 50px;
  }
  .social-link {
    background-color: #fff !important;
  }
}

.footer-list {
  width: 70px;
  height: 70px;
}

.footer-list:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-link {
  color: #000;
  width: 100%;
  height: 100%;
}

.footer-link:hover {
  color: #000;
}

.footer-sns-icon {
  height: 100%;
  width: 100%;
}

/* home/index
-------------------------------------------------*/
header.masthead {
  background-image: url("top-bg.jpg");
}

.header-buttons {
  width: 500px;
}

.about-img-box {
  width: 9rem;
  height: 9rem;
}

.about-img {
  height: 100%;
  width: 100%;
}

.top-page-rooms {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $second-color;
  h1 {
    margin-top: 60px;
  }
  .btn:hover {
    background-color: $main-color !important;
  }
}

.content-section-heading {
  margin-bottom: 90px;
}

.rooms-btn {
  background-color: #8b0304;
  color: #fff;
}

.rooms-btn:hover {
  background-color: #fff;
  border-color: #8b0304;
  color: #8b0304;
}

/* users/index
-------------------------------------------------*/
.users {
  margin-top: 50px;
}

/* users/show
-------------------------------------------------*/
.card {
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: #fff
}

.profile-edit-link {
  margin-top: 10px;
}

.user-info-box {
  margin-left: 30px;
}

.articles {
  font-size: 10px;
  color: #a1aab9
}

.number1 {
  font-weight: 500
}

.followers {
  font-size: 10px;
  color: #a1aab9
}

.number2 {
  font-weight: 500
}

.rating {
  font-size: 10px;
  color: #a1aab9
}

.number3 {
  font-weight: 500
}

.rooms-wrapper {
  margin-top: 100px;
  h2 {
    margin-bottom: -60px;
  }
}

.user-page-content {
  padding: 0 30px;
}

.collapse-links {
  padding-top: 30px;
  text-align: start;
}

.collapse-link {
  font-size: 2rem;
  padding: 0 20px;
  color: gray;
  text-decoration: none;
}

.collapse-link:nth-of-type(1) {
  margin-left: 80px;
}

.collapse-link.selected {
  color: $main-color;
  text-decoration: underline;
}

.collapse.show {
  margin-top: -60px;
}

/* users/registrations/new
-------------------------------------------------*/
.profile-image-input {
  display: none;
}

.filename {
  margin-left: 10px;
}

/* rooms/index
-------------------------------------------------*/
.paginate-wrapper nav {
  display: flex;
  justify-content: center;
}

.paginate-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
}

/* notifications/index
-------------------------------------------------*/
.notifications {
  margin-top: 60px;
  .list-group-item {
    text-align: start;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.action-icon {
  float: left;
  margin-right: 15px;
}